body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* Title */
.title {
  color: #f83838;
  margin-bottom: 15px;
}

/* Description */
.description {
  font-size: 16px;
  color: #cbd5e1;
  margin-bottom: 20px;
}

/* User box */
.user-box {
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}
